<div>
  <div>
    <h1>
      <%= @the_artist.name %>
    </h1>

    <div>
      <div>
        <a href="/artists">
          Go back to the Add New Artists page
        </a>
      </div>

      <div>
        <a href="/view_all">
          Go back to the View All Artists page
        </a>
      </div>

      <div>
        <a href="/delete_artist/<%= @the_artist.id %>">
          Delete artist
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_artist.name %>
      </dd>

      <dt>
        Genre
      </dt>
      <dd>
        <%= @the_artist.genre %>
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit artist
    </h2>

    <form action="/modify_artist/<%= @the_artist.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_artist.name %>">
      </div>

      <div>
        <label for="genre_box">
          Genre
        </label>

        <input type="text" id="genre_box" name="query_genre" value="<%= @the_artist.genre %>">
      </div>

      <button>
        Update artist
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          Concert Date
        </th>

        <th>
          Ticket Sale Date
        </th>

        <th>
          Concert Name
        </th>

        <th>
          City
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @the_artist.concerts.each do |a_concert| %>
      <tr>
        <td>
          <%= a_concert.date.strftime("%A, %d %b %Y %l:%M %p") %>
        </td>

        <td>
          <%= a_concert.ticket_time.strftime("%A, %d %b %Y %l:%M %p") %>
        </td>

        <td>
          <%= a_concert.name %>
        </td>

        <td>
          <%= a_concert.city %>
        </td>

        <td>
          <%= time_ago_in_words(a_concert.updated_at) %> ago
        </td>

        <td>
          <a href="/concerts/<%= a_concert.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>