<div>
  <div>
    <h1>
      List of Saved Concerts
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Interested In Saving More Concert Dates?
    </h2>
    <div>
    To find more concerts, go to the <a href="/view_all">View All Concerts</a> page to browse other concerts.
    </div>
    <div>
    To add a new concert, go to the <a href="/concerts">Add New Concerts</a> page to add new concerts.
    </div>
  </div>
</div>

<hr>
<h2> List of Your Saved Concerts </h2>
<div>
  <div>
    <table>
      <tr>
        <th>
          Concert Date
        </th>

        <th>
          Ticket Sale Date
        </th>
      
       <th>
          Concert Name
        </th>

        <th>
          City
        </th>

        <th>
          Artist
        </th>

        <th>
          Latest Information Added
        </th>

        <th>
          Alert sent
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_interests.each do |an_interest| %>
      <tr>
        <td>
          <%= an_interest.concert.date.strftime("%A, %d %b %Y %l:%M %p") %>
        </td>

        <td>
          <%= an_interest.concert.ticket_time.strftime("%A, %d %b %Y %l:%M %p") %>
        </td>

        <td>
          <%= an_interest.concert.name %>
        </td>

        <td>
          <%= an_interest.concert.city %>
        </td>

        <td>
          <%= an_interest.concert.artist.name %>
        </td>

        <td>
          <%= time_ago_in_words(an_interest.updated_at) %> ago
        </td>

        <td>
          <%= an_interest.alert_sent %>
        </td>

        <td>
          <a href="/concerts/<%= an_interest.concert.id %>"> <%#= /concerts/ and leaving the an_interest creates an error within the show/concerts page, for some reason %>
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
