<div>
  <div>
    <h1>
      List of all interests
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new interest
    </h2>

    <form action="/insert_interest" method="post">
      <div>
        <label for="concert_id_box">
          Concert
        </label>

        <input type="text" id="concert_id_box" name="query_concert_id">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <button>
        Create interest
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Concert
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_interests.each do |an_interest| %>
      <tr>
        <td>
          <%= an_interest.id %>
        </td>

        <td>
          <%= an_interest.concert_id %>
        </td>

        <td>
          <%= an_interest.user_id %>
        </td>

        <td>
          <%= time_ago_in_words(an_interest.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_interest.updated_at) %> ago
        </td>

        <td>
          <a href="/interests/<%= an_interest.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
