<div>
  <div>
    <h1>
      Concert #<%= @the_interest.id %> details
    </h1>

    <div>
      <div>
        <a href="/interests">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_interest/<%= @the_interest.id %>">
          I'm not interested anymore.
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Concert
      </dt>
      <dd>
        <%= @the_interest.concert_id %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_interest.user_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_interest.created_at) %> ago
      </dd>

      <dt>
        Latest Information Added
      </dt>
      <dd>
        <%= time_ago_in_words(@the_interest.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit interest
    </h2>

    <form action="/modify_interest/<%= @the_interest.id %>"  method="post" >
      <div>
        <label for="concert_id_box">
          Concert
        </label>

        <input type="text" id="concert_id_box" name="query_concert_id" value="<%= @the_interest.concert_id %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_interest.user_id %>">
      </div>

      <button>
        Update interest
      </button>
    </form>
  </div>
</div>

<hr>
