<h1> Home </h1>

Search for cities and concerts here!

<hr>

<%= search_form_for @q, :url => "/" do |f| %>
  <p>Narrow down results by using one or both of these categories:</p>

  <div>
    <%= f.label :city_cont, "City" %>
    <%= f.text_field :city_cont, :placeholder => "Enter a city name" %>
  </div>

  <div>
    <%= f.label :name_cont, "Concert/Tour Name" %>
    <%= f.text_field :name_cont, :placeholder => "Enter a concert/tour name" %>
  </div>

  <%= f.submit :class => "btn btn-primary btn-block" %>
  
  <a href="/">Clear filters</a>

<% end %>

<hr>
<div>
  <div>
    <table>
      <tr>

        <th>
          Concert Date
        </th>

        <th>
          Ticket Sale Date
        </th>

        <th>
          Concert Name
        </th>

        <th>
          City
        </th>

        <th>
          Artist
        </th>

        <%# <th>
          Tour
        </th> %>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @concerts.each do |a_concert| %>
      <tr>

        <td>
          <%= a_concert.date.strftime("%A, %d %b %Y %l:%M %p") %>
        </td>

        <td>
          <%= a_concert.ticket_time.strftime("%A, %d %b %Y %l:%M %p") %>
        </td>

        <td>
          <%= a_concert.name %>
        </td>

        <td>
          <%= a_concert.city %>
        </td>

        <td>
          <%= a_concert.artist.name %>
        </td>

        <%# <td>
          <%= a_concert.tour_id %>
        <%# </td> %>

        <td>
          <%= time_ago_in_words(a_concert.updated_at) %> ago
        </td>

        <td>
          <a href="/concerts/<%= a_concert.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>