<h1> Home </h1>

Search for artists, cities, and concerts here:

<hr>

<%= search_form_for @q do |f| %>
  <p>Narrow results:</p>

  <div>
    <%= f.label :city_eq, "City matching" %>
    <%= f.text_field :city_eq, :placeholder => "Enter a few characters" %>
  </div>

  <div>
    <%= f.label :name_cont, "Concert name matching" %>
    <%= f.text_field :name_cont, :placeholder => "Enter a few characters" %>
  </div>

  <%= f.submit :class => "btn btn-primary btn-block" %>
  
  <a href="/">Clear filters</a>
<% end %>