<h1>All Concerts</h1>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Date
        </th>

        <th>
          Concert Name
        </th>

        <th>
          City
        </th>

        <th>
          Artist
        </th>

        <%# <th>
          Tour
        </th> %>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_concerts.each do |a_concert| %>
      <tr>
        <td>
          <%= a_concert.id %>
        </td>

        <td>
          <%= a_concert.date %>
        </td>

        <td>
          <%= a_concert.name %>
        </td>

        <td>
          <%= a_concert.city %>
        </td>

        <td>
          <%= a_concert.artist_id %>
        </td>

        <%# <td>
          <%= a_concert.tour_id %>
        <%# </td> %>

        <td>
          <%= time_ago_in_words(a_concert.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_concert.updated_at) %> ago
        </td>

        <td>
          <a href="/concerts/<%= a_concert.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>