<div >
  <h5>
    Edit User Account
  </h5>

  <% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
  <% end %>
  <div>
    <form action="/modify_user" method="post">
              
      <div>
        <label for="email_box">Email</label>
          
        <input id="email_box" name="query_email" value="<%= @current_user.email %>">
          
      </div>
                                    
      <div>
        <label for="home_city_box">Home city</label>
          
        <input id="home_city_box" name="query_home_city" value="<%= @current_user.home_city %>">
          
      </div>
                      
      <div>
        <label for="artist_box">Artist</label>
          
        <input id="artist_box" name="query_artist" type="checkbox" value="1" <%= "checked" if @current_user.artist %>>
          
      </div>
                      
      <div>
        <label for="name_box">Name</label>
          
        <input id="name_box" name="query_name" value="<%= @current_user.name %>">
          
      </div>
                      
      <div>
        <label for="phone_number_box">Phone number</label>
          
        <input id="phone_number_box" name="query_phone_number" value="<%= @current_user.phone_number %>">
          
      </div>
              
      <div>
        <label for="password_box">Password</label>
        <input id="password_box" name="query_password" placeholder="Choose a new password..." type="password">
      </div>
    
      <div>
        <label for="password_confirmation_box">Password Confirmation</label>
        <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your new password..." type="password">
      </div>

      <button>
        Update account
      </button>
    </form>
  </div>
</div>
